@charset "UTF-8";
        body {
            font-family: Arial;
            padding: 20px;
            text-align: center;
        }
        h1 {
            color: #333;
        }

        .x2:hover{
           margin-top: 20px;   
           transform: scale(2);
        }
        ul {           
            padding: 0;
            list-style: none;
        }

        li {
            margin: 10px ;
        }

        p {
	   		height: 10%;
	   	}